<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159496270161-rq9s9ds4rtr7991md345bdr618evdklk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159496270161-rq9s9ds4rtr7991md345bdr618evdklk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159496270161-434ogkqig2bbkejvrdikfo3083jvfo7h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO483rWdrio7v0h02BxyRu_vFi7YfJQAE</string>
	<key>GCM_SENDER_ID</key>
	<string>159496270161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shelhopFlowerAdmin</string>
	<key>PROJECT_ID</key>
	<string>shelhop-92a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>shelhop-92a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159496270161:ios:0fcc6a0b4fab63ac11a370</string>
	<key>DATABASE_URL</key>
	<string>https://shelhop-92a9a-default-rtdb.firebaseio.com</string>
</dict>
</plist>